@charset "utf-8";
/* CSS Document */

.head{width:100%;height:80px;background:red;}
a{text-decoration:none;}
.sys{margin-left:50px;font-size:25px;line-height:80px;}
.user{margin-right:50px;line-height:80px;cursor:pointer}
.content{width:100%;min-width: 1200px;}
.left{width:150px;height:900px;background:#121213;float:left;color:#FFFFFF}
.left dt{height:40px;text-align:center;line-height:40px;border-bottom:2px solid red;cursor:pointer}
.left dd{height:30px;width: 100%;font-size:10px;cursor:pointer;line-height: 30px; text-align: center;}
.left .active{background:red;color:#FFF;}
.left dd:first-child{margin-top:5px;}
.left .ok{background:#0EECA4;}
.right{width:calc(100% - 170px);height:890px;background:#D4D1D1;margin:10px 10px 0px 10px;}

.right-head{border-bottom:10px solid #FFF;}
.search-content{margin:0px auto;width:100%;padding:5px;border-bottom:10px solid #FFF;}
.table-1 tr td{padding:10px 0px;}
.table-1{width:100%;}

.inp{width:150px;height:30px;border:none;line-height:20px;}
.btn{width:80px;height:30px;border:none;background:red;text-align:center;line-height:30px;cursor:pointer;border-radius:5px;color:#FFF;}
.btn-cancl{background:#333;}
.btn-a{text-decoration:none;display:block;}

.data-content{width:100%;}
.table-2{width:100%;text-align:center;}
.data-tab img{width:100px;height:90px;}

.data-content table thead tr{height:40px;background:#edf7f9;}
.data-content table tbody td{border-right:1px solid #CAC3C3;border-bottom:1px dashed blue;height:40px;}

.page-data li{cursor:pointer;min-width:25px;list-style:none;float:left;margin-left:5px;height:25px;border:1px solid blue;padding:0px 5px;text-align:center;line-height:25px;}
.page-f{cursor:pointer;min-width:25px;margin-left:5px;height:25px;border:1px solid blue;padding:0px 5px;text-align:center;line-height:25px;}

.page-data .ok{background:red;color:#FFF;}
.page-data .omit{border:none;cursor:auto;}

.bottom{margin:0px auto;width:1000px;margin-top:20px;border-top:1px solid red;}


.img-content{width:150px;height:100px;border:1px solid #999;}
.upImg{width:100px;}

.tab{border-top:1px solid blue;border-bottom:10px solid #FFF;height:50px; background:none;}
.tab li{list-style:none;float:left;width:80px;height:25px;cursor:pointer;text-align:center;padding-top:5px;}
.tab .active{border-top:3px solid blue;color:blue;padding-top:2px;}
.alertbox-1 .w-80{width:80px;}

/***权限页面***/
.mg-list li{list-style:none;float:left;margin-left:5px;}


.alertSelectFwz {
    position: fixed;
    background: #fff;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    border: 1px solid #afadad;
    box-shadow: 3px 2px 5px #e4e4e4 outset,3px 2px 5px #e4e4e4;
    margin-top: -300px;
    width: 700px;
    height: auto;
    z-index: 999;
}
.alertSelectFwz .title {
    background: #f5f5f5;
    color: #010101;
    border-bottom: 1px solid #afadad;
    font: normal 16px/40px "微软雅黑";
    height: 40px;
    margin-top: 1px;
    margin-left: 1px;
    padding-left: 10px;
}
.alertSelectFwz .title .delBtnAlert {
    margin: 12px;
}
.alertSelectFwz .delBtn {
    display: block;
    cursor: pointer;
    margin-top: 2px;
    float: right;
    width: 12px;
    height: 12px;
    background: url(../images/IcoOpen.png) no-repeat -24px top;
    border: none;
}

.alertSelectFwz .alertLeft {
    width: 320px;
    float: left;
}

.listWarp {
    font-size: 12px;
    padding: 10px;
    width: 290px;
}
.searchWarpRelative {
    position: relative;
}
.searchTxtWarp {
    position: relative;
}
.txt, .zhtx-text, .text1, .sinp, .AutoComple-text, .spxx-text, input[type=text] {
    height: 26px;
    margin-right: 10px;
    line-height: 26px;
    padding: 0px 5px;
    border: 1px solid #cccccc;
}
.searchTxt {
    width: 308px;
    color: #afadad;
}
.searchTxtWarp .del {
    position: absolute;
    top: 8px;
    right: -5px;
    display: block;
    cursor: pointer;
    float: right;
    width: 30px;
    height: 12px;
    background: url(../images/IcoOpen.png) no-repeat -24px top;
    border: none;
}
.searchWarpRelative .searchList {
    position: absolute;
    z-index: 999;
    width: 318px;
    height: 460px;
    overflow-y: scroll;
    top: 28px;
    background: #fff;
    border: 1px solid #b5b3b3;
}
.listWarp h2 {
    background: url(../images/bg_title.jpg) repeat-x;
    border: 1px solid #b5b3b3;
    font: normal 16px/30px "微软雅黑";
    border-bottom: none;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.alertLeft.listWarp .levelServer {
    height: 370px;
    width: 298px;
}
.listWarp .levelServer {
    border: 1px solid #b5b3b3;
    padding: 10px;
    overflow-y: scroll;
}
listWarp .down {
    display: block;
    float: left;
    width: 15px;
    height: 10px;
    margin-top: 8px;
    background: url(../images/IcoOpen.png) no-repeat left top;
}

.listWarp .levelServer ul {
    padding-left: 15px;
    margin: 5px;
}

.listWarp .up {
    display: block;
    float: left;
    width: 13px;
    height: 12px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px;
    background: url(../images/IcoOpen.png) 36px 30px;
}
.listWarp .levelServer ul li .data-level1 {
    cursor: pointer;
    display: inline-block;
}
.listWarp .levelServer dl dd {
    padding-left: 30px;
    margin: 5px;
    height: 22px;
}
.listWarp .levelServer dl dd span {
    cursor: pointer;
}
.alertSelectFwz .moveBtn {
    float: left;
    margin-top: 220px;
    margin-left: 10px;
    margin-right: 10px;
    background: url(../images/moveBtn.jpg) no-repeat left top;
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.alertSelectFwz .alertRight {
    float: left;
}
.listWarp {
    font-size: 12px;
    padding: 10px;
    width: 290px;
}
.listWarp h2 {
    background: url(../images/bg_title.jpg) repeat-x;
    border: 1px solid #b5b3b3;
    font: normal 16px/30px "微软雅黑";
    border-bottom: none;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.listWarp .qingkong {
    color: #1fbba6;
    cursor: pointer;
    float: right;
    font-size: 14px;
}
.listWarp .resultArea {
    height: 430px;
    width: 268px;
    border: 1px solid #b5b3b3;
    overflow-y: scroll;
    padding: 10px;
}
.listWarp .resultArea dl dt {
    display: inline-block;
    cursor: pointer;
    width: 235px;
    padding-left: 5px;
    margin: 5px;
}
.listWarp .down {
    display: block;
    float: left;
    width: 15px;
    height: 10px;
    margin-top: 8px;
    background: url(../images/IcoOpen.png) 38px 27px;
}
.qingkongBtn {
    border: none;
    padding: 0px;
    margin: 0px;
    display: block;
    text-align: center;
    width: 30px;
    height: 20px;
    line-height: 20px;
    color: #1fbba6;
    background: none;
    float: right;
}
.listWarp .resultArea dl dd {
    cursor: pointer;
    width: 225px;
    display: inline-block;
    padding-left: 45px;
    height: 30px;
    line-height: 30px;
}
.alertSelectFwz .delBtn {
	margin-right: 30px;
    display: block;
    cursor: pointer;
    margin-top:10px;
    float: right;
    width: 12px;
    height: 12px;
    background: url(../images/IcoOpen.png) no-repeat -24px top;
    border: none;
}
.alertSelectFwz .alert-bottom {
    height: 30px;
    padding: 10px;
    margin-bottom: 10px;
}

.alertSelectFwz .bottom input {
    float: right;
    margin-left: 10px;
    border-radius: 0px;
}
.btn-gray {
    background: #bebebe;
    color: #fff;
    min-width: 60px;
}
.w-100 {
    width: 100px;
}
.alertSelectFwz .bottom input {
    float: right;
    margin-left: 10px;
    border-radius: 0px;
}

.role-txt{width:248px;margin: 0px 0px 10px 0px;background:url(../images/IcoOpen.png) no-repeat 232px center;}