body{margin:0px;padding:0px;}
*{margin:0px;padding:0px;font-size:10px;}
a{text-decoration:none;}
.ml-10{margin-left:10px;}
.mt-10{margin-top:10px;}
.mr-10{margin-right:10px;}
.font14{font-size:14px;}
.head{width:100%;height:50px;background:red;line-height:50px;}
.head-ul{margin-right:20px;}
.head-ul li{list-style:none;float:left;margin-left:10px;}

.price{font-size:20px;font-weight:bold;}
.price-red{color:red;}

.main{margin:0px auto;width:100%;background:#EAEAF3;}
.main-sort{margin:0px auto;width:calc(100% - 300px);height:100px;background:none;position:relative;}
.sort-logo{width:200px;margin-left:50px;}
.sort-input{width:600px;margin:0px auto;padding-top:35px;position:relative;}
.sort-input-txt{width:500px;height:40px;border:3px solid #d31a26;line-height:40px;font-size:16px;}
.sort-input-btn{position:absolute;height:46px;width:80px;text-align:center;line-height:40px;background:#d31a26;margin-left:-8px;border: 1px solid #d31a26;cursor:pointer;}
.sort-up{position:absolute;top:8px;}
.sort-up li{list-style:none;float:left;width:70px;height:25px;text-align:center;line-height:25px;cursor:pointer;}
.sort-up .ok{background:#d31a26;border: 1px solid #d31a26;color:#FFFFFF}

.sort-shopcar{margin:0px auto;width:100px;height:22px;padding:10px;border:2px solid #BDBDD0;margin-top:52px;line-height:22px;position:relative;cursor: pointer;}
.sort-shopcar-1{border-bottom:none;}
.shopcar-mount{position:absolute;right:2px;top:33px;width:30px;height:30px;background:red;border-radius:10px;}
.shopcar-mount .mount{color:#FFFFFF;font-size:14px;text-align:center;line-height:30px;width:25px;height:25px;padding-left: 10px;}

.shopcar-content{position:absolute;top:96px;left:819px;background:none;border:2px solid #BDBDD0;border-top:none;display:none;z-index:9999; background:#EAEAF3;}
.shopcar-content li{list-style:none;width:300px;height:20px;line-height:20px;border-top:1px solid #332D03}
.shopcar-content li span{width:50%;margin-left: 80px;}
.shopcar-title{width:180px;height:35px;border-top:2px solid #BDBDD0;text-align:center;line-height:35px;}
.shopcar-content-emp{width:300px;height:50px;text-align:center;line-height:50px;border-top: 2px solid #BDBDD0;}


.sort-down{margin-top:5px;}
.sort-down li{list-style:none;float:left;margin-left:5px;}
.sort-down .ok{font-size:13px;color:red;}
.sort-down li a:hover{color:red;}

.main-nav{width:100%;height:50px;border-bottom:2px solid #C50D0D;}
.nav-main{margin:0px auto;width:calc(100% - 300px);}
.nav-main-all{width:200px;text-align:center;line-height:50px;background:#CE0D0D;cursor:pointer;color:white;}
.nav-main-nav li{list-style:none;float:left;width:60px;text-align:center;margin-left:30px;line-height:50px;cursor:pointer;}
.nav-main-nav li a{font-size:14px;}
.nav-main-nav li a:hover{color:red;}


.main-ad{margin:0px auto;width:calc(100% - 300px);height:350px;position:relative;}
.main-ad-left{width:200px;margin-bottom:30px;background:#DC2929;height:350px;}
.ad-left-nav li{list-style:none;height:40px;margin-top:5px;cursor:pointer;}
.ad-left-nav li:hover .ad-left-nav-gai{display:block}
.nav-txt{padding-left:10px;color:white;font-weight:bolder;}
.pr-10{padding-right:10px;}
.ad-left-nav-gai{width:600px;height:347px;position:absolute;left:200px;top:0px;border:1px solid #D6D2D2;z-index:99;display:none;background: #EAEAF3;}
.ad-left-nav-gai dl{border-bottom:1px solid #D6D2D2;margin:5px;height:30px;}
.ad-left-nav-gai dt{margin-left:10px;font-size:14px;float:left;margin-top:6px;}
.ad-left-nav-gai dd{padding-left:5px;margin-left:10px;font-size:10px;float:left;margin-top:10px;border-left:1px solid #D6D2D2;}

.main-ad-content{width:845px;height:350px;}
.main-ad-content-left{width:600px;}
.banner-index{width:600px;height:230px;position:relative;}
.banner-img li{list-style:none;display:none;}
.banner-img .active{display:block;}
.banner-img img{width:600px;height:230px;}
.banner-index:hover .banner-left{display:block;}
.banner-index:hover .banner-right{display:block;}
.banner-left{background:url(../images/slider-arrow2.png) no-repeat -27px 10px;width:20px;height:45px;position:absolute;top:88px;left:-3px;}
.banner-right{background:url(../images/slider-arrow2.png) no-repeat 5px 10px;width:20px;height:45px;position:absolute;top:88px;left:580px;}

.banner-mount{position:absolute;top:200px;left:300px;}
.banner-mount li{list-style:none;float:left;margin-left:10px;width:20px;height:20px;background:red;color:white;text-align:center;line-height:20px;cursor: pointer;}
.banner-mount .active{background:white;color:black;}

.lunbo-index{position:relative;width:570px;overflow:hidden;height:85px;margin:15px 15px 0px 15px;}
.lunbo-img{position:absolute;top:0px;left:0px;z-index:99;width:1330px;}
.lunbo-img li{list-style:none;float:left;}
.lunbo-img img{width:190px;height:110px;}
.lunbo-left,.lunbo-right{position:absolute;top:25px;width:20px;z-index:999;height:50px;display:none;}
.lunbo-left{background: url(../images/slider-arrow2.png) no-repeat -27px 10px;left:-4px;}
.lunbo-right{background: url(../images/slider-arrow2.png) no-repeat 5px 10px;right:23px;}

.main-ad-content-right{width:235px;height:348px;margin-left:5px;border:1px solid red;background:red;}
.ad-recomm{height:100px;border:1px solid blue;overflow:hidden;}
.ad-img{position:relative;height:125px;width:235px;overflow:hidden;}
.ad-img-li{position:absolute;top:0px;left:0px;width:1350px;}
.ad-img ul li{list-style:none;float:left;height:125px;width:235px;}
.ad-img img{height:125px;width:100%;}
.ad-img .ad-img-left,.ad-img-right{top:45px;}

.reomm-title{height:20px; padding:4px;}


.hide{display:none;}

.main-recomm{margin:0px auto;width:calc(100% - 320px);height:380px;padding:10px;}
.main-recomm-title{width:93%;height:30px;}
.main-recomm-con{width:100%;height:150px;}
.main-recomm-con li{list-style:none;float:left;border:1px solid red;padding:5px;width:240px;margin-left:5px;}
.recomm-img img{width:235px;height:160px;overflow:hidden;}
.recomm-price{font-size:18px;font-weight:bold;color:red;margin:10px 0px 10px 10px;}
.recomm-desc{margin:10px 0px 10px 10px;}
.recomm-linag{margin:10px 0px 10px 10px;}
.btn-jian,.btn-add{width:35px;height:35px;border:none;background:#BABAC3;cursor:pointer;}
.shop-input{width:35px;height:35px;border:none;text-align:center;line-height:35px;font-size:18px;background:#9D9DA5;border-right:1px solid white;border-left:1px solid white;}
.btn-add-shop{width:75px;height:35px;border:none;background:#BABAC3;cursor:pointer;border-radius:5px;}
.btn-add-shop:hover{background:#B73706;color:white;}

.flow-1,.flow-2,.flow-3,.flow-4,.flow-5,.flow-6,.flow-7,.flow-8{color:red;font-size:20px;font-weight:bold;margin-right:10px;margin-top:-5px;}


.main-flow{margin:0px auto;width:calc(100% - 300px);height:200px;background:red;}

.main-rang{margin:0px auto;width:calc(100% - 300px);height:210px;}
.main-rang-title{width:92%;height: 30px;}
.main-rang-con{width:100%;height:150px;}
.main-rang-con li{list-style:none;float:left;width:185px;height:150px;border:1px solid red;border-right:none;padding:10px;position:relative;}
.main-rang-con li:last-child{border-right:1px solid red;}
.main-rang-con li .rang-position{width:205px;height:170px;background:#B6B6BF;position:absolute;top:-1px;left:205px;z-index:99;display:none;border:1px solid red;border-left:1px dashed red;}
.main-rang-con li .rang-position-last{width:205px;height:170px;background:#B6B6BF;position:absolute;top:-1px;right:205px;z-index:99;border:1px solid red;border-right:1px dashed red;}
.rang-left-up{width:100%;height:40px;margin:30px 10px;}
.rang-left-down{width:100%;height:40px;margin:30px 10px;}

.rang-top{height:30px;color:red;font-size:20px;font-weight:bold;cursor:pointer;}
.rang-left{width:100%;}
.rang-right{width:70px;height:90px;background: url(../images/index-ghs-ico.png) no-repeat;}
.rang-left-bom{line-height:35px;}
.rang-left-bom-p{background: url(../images/index-ico.png) no-repeat -77px -72px;width:27px;height:28px;margin-right:5px;}


.bottom{margin:0px auto;width:400px;margin-top:30px;text-align:center;line-height:26px;}
.bottom-1,.bottom-2{margin:0px auto;width:300px;}
.fl{float:left;}
.fr{float:right;}
.cl{clear:both;}
/******全局定位******/
.fix-left{position:fixed;right:0px;background:blue;width:5px;height:100%;z-index:9999;}
.fix-left-ul{position:fixed;top:50%;right:5px;height:100%;z-index:9999;}
.shopbar{position:relative;}
.shopbar-mount{position:absolute;top:-16px;left:44px;text-align:center;line-height:30px;border-radius:10px;width:30px;height:30px;background:red;color:#FFFFFF;}

.fix-left-ul li{list-style:none;width:100px;height:40px;margin-top:2px;}
.fix-p{width:40px;height:40px;border-radius:5px 0px 0px 5px;background:#7D7070;}
.fix-left-ul li .fix-p-1{border-radius:0px;background:red;}
.fix-left-up .fix-p-1{border-radius:0px;background:red;}

.fix-left-ul p{background: url(../images/index-ico.png) no-repeat 5px 7px;width:30px;height:30px;margin:0px auto;cursor:pointer;}

.fix-left-ul-txt{background:red;width:60px;height:40px;line-height:40px;text-align:center;}

.fix-left-up{position:fixed;top:85%;right:5px;height:100%;z-index:9999;}
.fix-left-up li{list-style:none;width:100px;height:40px;margin-top:2px;}
.fix-left-up p{background: url(../images/index-ico.png) no-repeat 5px 7px;width:30px;height:30px;margin:0px auto;cursor:pointer;}
/*右边*/
.fix-right-flow{position:fixed;top:35%;left:100px;z-index:9999;}
.fix-right-flow li{list-style:none;width:35px;height:35px;border-bottom:1px dashed red;text-align:center;line-height:35px;font-size:16px;}
.fix-right-flow li .hide{display:none;}
.fix-flow{display:block;}
.fix-flower{display:block;background:red;color:#FFFFFF;}

.fix-head{position:fixed;top:0px;left:0px;width:100%;height:70px;z-index:99999;background:#C7C7D0}
.fix-head .sort-input-1{padding-top:10px;}
.sort-left li{list-style:none;display:none;height:46px;width:50px;text-align:center;line-height:40px;cursor:pointer;background:#D31A26;}
.sort-left .ok{display:block;color:#FFFFFF;}
.sort-left{position:absolute;top:10px;left:-48px;}

.move-sp{width:80px;height:80px;display:block;position:fixed;display:block;z-index:999999}


