
.content{  margin: 0px auto;width:500px;height:500px;}
.content-h2{margin: 0px auto;width:100px;height:80px;border-bottom:5px solid red;text-align:center;line-height:100px;}
.content-in{margin:0px auto;width:260px;he  ght: 15px;}
.content-in-1{margin:0px auto;width:330px;height: 15px;}
.content-in-btn{margin:0px auto;width:160px;margin-top:20px;height:20px;border:none;text-align:center;line-height:20px;}
.content-in-btn input{background:red;}
.btn{width:170px;border:none;height:30px;cursor:pointer}

.huadong{margin-left:10px}
.huadong li{list-style:none;float:left;width:80px;border-top:15px solid rgb(187, 180, 180);margin-left:1px;text-align:center}
.huadong  .active{border-top:15px solid red;}

.forget {text-align:center;background:rgb(187, 180, 180);border:15px solid rgb(187, 180, 180);}
.content .content-in-btn-1{width:255px;}
.content-in-btn-1 .btn-1{width:116px}