@charset "utf-8";
.ml-5{margin-left:5px;}
.mt-10{margin-top:10px;}
/* CSS Document */
.h2-title{margin:0px auto;width:calc(100% - 300px);height:30px;font-size:16px;padding-top:10px;}
/***中间详情使用淘宝双飞翼布局来做***/
.product_info{margin:0px auto;width:calc(100% - 300px);padding-bottom:50px;overflow:hidden;}
.product_info .product_info_inter{width:100%;height:500px;float:left;}
.product_img{padding:10px;width:300px;height:500px;float:left;margin-left:-100%;}
.pro-img{width:280px;height:280px;}
.pro-name a{font-size:16px;}
.price-info{width:100%;height:50px;padding:10px 10px;}

.pro-add-shop{width:100%;height:40px;padding:20px 10px;}
.count-txt{line-height:30px;font-size:20px;}
.inp-count{width:30px;height:29px;line-height:29px;text-align:center;}
.up-add,.down-cal{cursor:pointer;width:18px;height:14px;}
.up-add{background:url(../images/btn-top_03.jpg) no-repeat;}
.down-cal{background:url(../images/btn-bo_03.jpg) no-repeat;margin-top:5px;}

.pro-img-li{list-style:none;}
.pro-img-li li{float:left;width:50px;height:50px;padding:5px;}
.pro-img-li li img{width:50px;height:50px;}
.product_info_inter_main{margin:0px 250px 0px 320px;}
.product_info_shop{width:250px;height:500px;float:left;margin-left:-250px;}


div.zoomdiv {z-index:999;position:absolute;top:0px;left:0px;width:200px;height:200px;background:#fff;border:1px solid #CCC;display:none;text-align: center;overflow: hidden;}
div.jqZoomPup {z-index:99;visibility:hidden;position:absolute;top:0px;left:0px;width:50px;height:50px;border: 1px solid #aaa;background: #fff url(../images/slider-arrow2.png) 50% top  no-repeat;;opacity: 0.5;-moz-opacity: 0.5;-khtml-opacity: 0.5;filter: alpha(Opacity=50);}


/********购物车***********/

.shop-car-table thead{background:red;}
.shop-car-table th{height:35px;}
.shop-car-table td{text-align:center;}
.shop-tab-img{width:50px;height:50px;margin:10px;border:1px solid rgb(157, 152, 152);padding:5px;}



/**********订单*************/
.order-main-txt{border:1px solid #999; padding:10px;}
.receive-addres,.pay-stle{padding-bottom:10px;border-bottom:1px solid red;}
.receive-li li{list-style:none;height:30px;cursor:pointer;}
.orther-rece{cursor:pointer;}

.order-pay{height:30px;}
.order-pay li{list-style:none;float:left;}
.order-pay li span{text-align:center;line-height:30px;height:30px;cursor:pointer;width:100px;}
.order-pay .ok{background:red;}

.pro-list li{height:50px;list-style:none;}
.pro-list-img{width:40px;height:40px;margin:10px;}

.order-count{border-bottom:1px solid red;height:85px;}
.order-addres{border-bottom:1px solid red;height:55px;}



















.zoomPad{
	position:relative;
	float:left;
	z-index:99;
	cursor:crosshair;
}


.zoomPreload{
   -moz-opacity:0.8;
   opacity: 0.8;
   filter: alpha(opacity = 80);
   color: #333;
   font-size: 12px;
   font-family: Tahoma;
   text-decoration: none;
   border: 1px solid #CCC;
   background-color: white;
   padding: 8px;
   text-align:center;
   background-image: url(../images/zoomloader.gif);
   background-repeat: no-repeat;
   background-position: 43px 30px;
   z-index:110;
   width:90px;
   height:43px;
   position:absolute;
   top:0px;
   left:0px;
    * width:100px;
    * height:49px;
}


.zoomPup{
	overflow:hidden;
	background-color: #FFF;
	-moz-opacity:0.6;
	opacity: 0.6;
	filter: alpha(opacity = 60);
	z-index:120;
	position:absolute;
	border:1px solid #CCC;
  z-index:101;
  cursor:crosshair;
}

.zoomOverlay{
	position:absolute;
	left:0px;
	top:0px;
	background:#FFF;
	/*opacity:0.5;*/
	z-index:5000;
	width:100%;
	height:100%;
	display:none;
  z-index:101;
}

.zoomWindow{
	position:absolute;
	left:435px;
	top:40px;
	background:#FFF;
	z-index:6000;
	height:auto;
   z-index:10000;
   z-index:110;
  
}
.zoomWrapper{
	position:relative;
	border:1px solid #999;
  z-index:110;
}
.zoomWrapperTitle{
	display:block;
	background:#999;
	color:#FFF;
	height:18px;
	line-height:18px;
	width:100%;
  overflow:hidden;
	text-align:center;
	font-size:10px;
  position:absolute;
  top:0px;
  left:0px;
  z-index:120;
  -moz-opacity:0.6;
  opacity: 0.6;
  filter: alpha(opacity = 60);
}
.zoomWrapperImage{
	display:block;
  position:relative;
  overflow:hidden;
  z-index:110;

}
.zoomWrapperImage img{
  border:0px;
  display:block;
  position:absolute;
  z-index:101;
}

.zoomIframe{
  z-index: -1;
  filter:alpha(opacity=0);
  -moz-opacity: 0.80;
  opacity: 0.80;
  position:absolute;
  display:block;
}

/*********************************************************
/ When clicking on thumbs jqzoom will add the class
/ "zoomThumbActive" on the anchor selected
/*********************************************************/
