@charset "utf-8";
.ml-5{margin-left:5px;}
.mt-10{margin-top:10px;}
/* CSS Document */
.h2-title{margin:0px auto;width:calc(100% - 300px);height:30px;font-size:16px;padding-top:10px;}
/***中间详情使用淘宝双飞翼布局来做***/
.product_info{margin:0px auto;width:calc(100% - 300px);padding-bottom:50px;overflow:hidden;}
.product_info .product_info_inter{width:100%;height:500px;float:left;}
.product_img{padding:10px;width:300px;height:500px;float:left;margin-left:-100%;}
.pro-img{width:280;height:280px;}
.pro-name a{font-size:16px;}
.price-info{width:100%;height:50px;padding:10px 10px;}

.pro-add-shop{width:100%;height:40px;padding:20px 10px;}
.count-txt{line-height:30px;font-size:20px;}
.inp-count{width:30px;height:29px;line-height:29px;text-align:center;}
.up-add,.down-cal{cursor:pointer;width:18px;height:14px;}
.up-add{background:url(../images/btn-top_03.jpg) no-repeat;}
.down-cal{background:url(../images/btn-bo_03.jpg) no-repeat;margin-top:5px;}

.pro-img-li{list-style:none;}
.pro-img-li li{float:left;width:50px;height:50px;padding:5px;}
.pro-img-li li img{width:50px;height:50px;}
.product_info_inter_main{margin:0px 250px 0px 320px;}
.product_info_shop{width:250px;height:500px;float:left;margin-left:-250px;}


div.zoomdiv {z-index:999;position:absolute;top:0px;left:0px;width:200px;height:200px;background:#fff;border:1px solid #CCC;display:none;text-align: center;overflow: hidden;}
div.jqZoomPup {z-index:99;visibility:hidden;position:absolute;top:0px;left:0px;width:50px;height:50px;border: 1px solid #aaa;background: #fff url(../images/slider-arrow2.png) 50% top  no-repeat;;opacity: 0.5;-moz-opacity: 0.5;-khtml-opacity: 0.5;filter: alpha(Opacity=50);}


/********购物车***********/

.shop-car-table thead{background:red;}
.shop-car-table th{height:35px;}
.shop-car-table td{text-align:center;}
.shop-tab-img{width:50px;height:50px;margin:10px;border:1px solid rgb(157, 152, 152);padding:5px;}



/**********订单*************/
.order-main-txt{border:1px solid #999; padding:10px;}
.receive-addres,.pay-stle{padding-bottom:10px;border-bottom:1px solid red;}
.receive-li li{list-style:none;height:30px;cursor:pointer;}
.orther-rece{cursor:pointer;}

.order-pay{height:30px;}
.order-pay li{list-style:none;float:left;}
.order-pay li span{text-align:center;line-height:30px;height:30px;cursor:pointer;width:100px;}
.order-pay .ok{background:red;}

.pro-list li{height:50px;list-style:none;}
.pro-list-img{width:40px;height:40px;margin:10px;}

.order-count{border-bottom:1px solid red;height:85px;}
.order-addres{border-bottom:1px solid red;height:55px;}

