@charset "utf-8";
/* CSS Document */
body{margin:0px;padding:0px;}
*{margin:0px;padding:0px;font-family:"微软雅黑";font-size:14px;}

.hide{display:none;}
.fl{float:left;}
.fr{float:right;}

/**width**/
.w-80{width:80px;}
.w-100{width:100px;}
.w-200{width:200px;}
/**height**/
.h-20{height:20px;}
.h-100{height:100px;}
/**margin**/
.ml-10{margin-left:10px;}
.mt-10{margin-top:10px;}
.mt-5{margin-top:5px;}
.mr-10{margin-right:10px;}
.mb-10{margin-bottom:10px;}
/**padding**/
.pl-10{padding-left:10px;}
.pt-10{padding-top:10px;}
.pr-10{padding-right0px;}
.pb-10{padding-bottom:10px;}

table{border-collapse: collapse;border-spacing: 0;}
ul{list-style:none;}
.clear{clear:both}
.btn-red{width:100px;height:30px;text-align:center;line-height:30px;border:none;background:red;border-radius:5px;cursor:pointer;color:#FFF;}


















.table-3{width:100%;}
.table-3 tr td{padding:5px;}

/***弹出框***/
/***弹出框1***/
.alertbox{position:fixed;top:50%;left:50%;}
.alertbox-1{width:300px;height:200px;background:#DEDEDE;margin-left:-150px;margin-top:-100px;display:none;}
.alertbox-head{height:30px;line-height:30px;background:#B9B9B9;border-bottom:1px solid red;}
.alertbox-head .alertbox-close{cursor:pointer;margin:-3px 5px 0px 0px;}
.alertbox-1 .alertbox-content{height:120px;text-align:center;line-height:120px;}
.alertbox-1 .alertbox-btn-content{width:165px;margin:0px auto;}

/***弹出框2***/
.alertbox-2{width:500px;background:#DEDEDE;margin-left:-250px;margin-top:-300px;display:none;}
.alertbox-2 .alertbox-btn-content{width:165px;margin:0px auto;}
.alertbox-2 .alertbox-btn-content{margin-top:10px;margin-bottom:10px;}

.alertbox-2 .img-content img{width:150px;height:100px;}